<!DOCTYPE html>
<html lang="en">

<head>
    <title>MSD Publications</title>
    <meta charset="utf-8">
    <meta name="author" content="Sridher Goud Thodeti">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/assets/images/favicon.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="static/assets/css/menu.css">
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script type="text/javascript" src="static/assets/webslidemenu/webslidemenu.js"></script>
    <link rel="stylesheet" href="static/assets/webslidemenu/demo.css" />
    <!--Main Menu File-->
    <link rel="stylesheet" href="static/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="static/assets/css/gallery-clean.css">
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.theme.min.css">
    <link rel="stylesheet" type="text/css" href="static/assets/css/baguetteBox.min.css">
<link rel="stylesheet" type="text/css" href="static/assets/css/gallery-clean.css">
</head>

<body>
    <!-- Mobile Header -->
    <div class="headtoppart clearfix">
        <div class="container">
            <div class="upper-right pull-right">
                <!--Info Box-->
                <div class="upper-column info-box">
                    <div class="icon-box"><span class="fas fa-envelope"></span>msdpublications@gmail.com</div>
                </div>
                <!--Info Box-->
                <div class="upper-column info-box">
                    <div class="icon-box"><span class="fas fa-phone"></span>+91-98765 43210</div>
                </div>

                <!--Info Box-->
                <div class="upper-column info-box">
                    <div class="icon-box"><span class="fas fa-map-marker-alt"></span>Hyderabad </div>
                </div>
            </div>
        </div>
    </div>
    <!--  navbar section start -->
    <header class="header_area">
        <div class="main_header_area animated">
            <div class="container">
                <nav id="navigation1" class="navigation">
                    <!-- Logo Area Start -->
                    <div class="nav-header">
                        <a class="nav-brand" href="index.html">
                            <img src="static/assets/images/logo.png">
                        </a>
                        <div class="nav-toggle"></div>
                    </div>
                    <!-- Search panel Start -->
                    <!--    <div class="nav-search">
<div class="nav-search-button">
<i class="nav-search-icon"></i>
</div>
<form>
<div class="nav-search-inner">
<input type="search" name="search" placeholder="Type Your Keywords">
</div>
</form>
</div> -->
                    <!-- Main Menus Wrapper -->
<div class="nav-menus-wrapper">
    <ul class="nav-menu align-to-right">
        <li><a href="home">Home</a></li>
       <li><a href="publications">All Publications</a> </li>
              <li><a href="about_openl">Open Access</a></li>
        <li><a href="ebooks">E-Books</a> </li>
        <li><a href="submit_articles">Submit Article</a> </li>
        <li><a href="#">Best Practices</a>
            <div class="megamenu-panel">
                <div class="megamenu-lists">
                    <ul class="megamenu-list list-col-4">
                        <li class="title ba-font-ff">Guidelines &amp; Information</li>
                        <li><a href="company_information">Company Information</a></li>
                        <li><a href="author_guidelines">Author Guidelines</a></li>
                        <li><a href="editor_guidelines">Editor Guidelines</a></li>
                        <li><a href="reviewer_guidelines">Reviewer Guidelines</a></li>
                        <li><a href="peer_review">Peer Review Guidelines</a></li>
                        <li><a href="special_issue">Special Issue Guidelines</a></li>
                        <li><a href="article_processing">Article Processing Charges</a></li>

                    </ul>
                    <ul class="megamenu-list list-col-4">
                        <li class="title ba-font-ff">Policies &amp; Ethics</li>
                        <li><a href="indexing">Indexing</a></li>
                        <li><a href="benefits">Benefits for Authors</a></li>
                        <li><a href="publication_ethics">Publication Ethics</a></li>
                        <li><a href="about_open">About Open Access</a></li>
                        <li><a href="about_peer">About Peer review</a></li>
                    </ul>
                    <ul class="megamenu-list list-col-4">
                        <li class="title ba-font-ff">Initiatives</li>
                        <li><a href="collaborations">Collaborations</a></li>
                        <li><a href="reprints">Reprints and Permissions</a></li>
                        <li><a href="membership">Membership Program</a></li>
                    </ul>
                    <ul class="megamenu-list list-col-4">
                        <li class="title ba-font-ff">Help &amp; Info</li>
                        <li><a href="faqs">Frequently Asked Questions</a></li>
                        <li><a href="contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </li>

        <li><a href="signin">Signin/Signup</a></li>
        <!-- <li class="donate-btn"><a href="#">Donate</a></li> -->
    </ul>
</div>
</nav>
</div>
</div>
</header>
    <!-- navbar section close -->
    <!-- banner titles sections start -->
    <!-- <div id="banner-section">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2>About Open Access</h2>
<p><a href="index.html" class="hm-a">Home</a> // <a href="about-open.html" class="pg-a">About Open Access</a></p>
</div>
</div>
</div>
</div> -->
    <!-- banner titles sections close -->
    <!-- information section start -->
    <div id="pbl-bks-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 pd-0 post-sticky ">
                    <div class="nav-side-menu">
                        <div class="brand">Menu</div>
                        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                        <div class="menu-list">

                            <ul id="menu-content" class="menu-content collapse out">
                                <li><a href="about_journal">About Journal</a> </li>
                                <li><a href="editorial_board">Editorial Board</a> </li>
                                <li data-toggle="collapse" data-target="#products" class="collapsed">
                                    <a href="#">Articles <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="products">
                                    <li class=""><a href="articlesinpress">Article in Press</a></li>
                                    <li><a href="current_issue">Current Issue</a></li>
                                    <li><a href="archive">Archive</a></li>
                                </ul>
                                <li><a href="submit_articles">Submit Manuscript</a> </li>
                                <li><a href="article_processing">Article Processing Charges</a> </li>
                                <li><a href="benefits">Benefits for Authors</a> </li>
                                <li><a href="membership">Membership Program</a> </li>
                                <li><a href="author_guidelines">Instructions for Authors</a> </li>
                                <li><a href="editor_guidelines">Editor Guidelines</a> </li>
                                <li><a href="reviewer_guidelines">Reviewer Guidelines</a> </li>
                                <li><a href="peer_review">Peer Review Guidelines</a> </li>
                                <li><a href="special_issue">Special Issues Guidelines</a> </li>
                                <li><a href="publication_ethics">publication ethics</a> </li>
                                <li><a href="collaborations">Collaborations</a> </li>
                                <li><a href="reprints">Reprints & permissions</a> </li>
                                <li><a href="faqs">FAQ</a> </li>
                                <li><a href="contact">Contact Us</a> </li>''
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 pd-0">
                    <div class="col-cont-part">
                        <div class="">
                            <h3 class="fl-txt-tle">Biomedical Research and Reviews</h3>
                            <p class="issn-nm-rt">ISSN 2631-3944</p>

                            <h3 class="title-small">Perfusion and Oxygenation Changes after Isolated Limb Perfusion with TNF - α in Lower
Limb Sarcoma: A Case Report</h3>
                            <p class="text-3 mb2">Katerina Nikiforaki<sup>1,2*</sup>, Georgios C. Manikis<sup>1,2</sup>, Maria Venianaki<sup>1,3</sup>, Eleftherios Kontopodis<sup>1,2</sup>, Eleni Lagoudaki<sup>4</sup>, Thomas G. Maris<sup>2</sup>, Kostas Marias<sup>1,5</sup>, Eelco de Bree<sup>6</sup>, Apostolos Karantanas<sup>1,2</sup></p>
                           <p><sup>1</sup>Computational BioMedicine Laboratory (CBML), Foundation for Research & Technology, Greece</p>
                           <p><sup>2</sup>Department of Radiology, School of Medicine, University of Crete, Greece</p>
                           <p><sup>3</sup>Image Analysis Research Unit,IMT School for Advanced Studies Lucca, Italy</p>
                           <p><sup>4</sup>Department of Pathology, University Hospital of Crete, Greece</p>
                           <p><sup>5</sup>Technological Educational Institute of Crete, Department of Informatics Engineering, Greece</p>
                           <p><sup>6</sup>Department of Surgical Oncology, School of Medicine, University of Crete, Greece</p>
                        </div>

                        <div class="col-md-6 col-sm-12">
                          <div class="dark-bg">
                            <h3 class="title-small color-on-dark br-left mb25">Corresponding author</h3>
                            <p class="color-on-dark">Katerina Nikiforaki, CBML
                                <br> Foundation for Research & Technology
                                <br> N.Plastira 100, Vasilika Vouton 70013
                                <br> Heraklion, Crete, Greece
                                <br> Tel: +30 2810391658
                                <br> E-mail: nikiforakik@gmail.com</p>
                            <div class="mb30"></div>
                            <ul class="list-2">
                                <li><span class="color-on-dark">Received Date:</span> 14 March 2018</li>
                                <li><span class="color-on-dark">Accepted Date:</span> 27 March 2018</li>
                                <li><span class="color-on-dark">Published Date:</span> 29 March 2018</li>
                            </ul>
                        </div>
                      </div>
                        <div class="col-md-6 col-sm-12">
                            <p>DOI:&nbsp;&nbsp; 10.31021/brr.20181101</p>
                            <p>Article Type:&nbsp;&nbsp; Research Article</p>
                            <p>Manuscript ID:&nbsp;&nbsp; BRR-1-101</p>
                            <p>Publisher:&nbsp;&nbsp; Boffin Access Limited.</p>
                            <p>Volume:&nbsp;&nbsp; 1.1</p>
                            <p>Journal Type:&nbsp;&nbsp; Open Access</p>
                            <p>Copyright:&nbsp;&nbsp; © 2018 Nikiforaki K, et al. This is an open-access article distributed under the terms of the Creative Commons Attribution 4.0 international License</p>
                        </div>

<div class="col-md-12 col-sm-12">
  <div class="citation-sec">
    <h2>Citation</h2>
    <p>Nikiforaki K, Manikis GC, Venianaki M, Lagoudaki E, Maris TG, et al. Perfusion and oxygenation changes after isolated limb perfusion with TNF-α in lower limb sarcoma: a case report. Biomed Res Rev. 2018Mar; 1(1):101</p>
  </div>
</div>

<div class="col-md-12 col-sm-12">
  <div class="abstrs-sec">
    <h2>Abstract</h2>
     <p>Tumor necrosis factor alpha (TNF-α) is known to cause selective destruction of tumor
neovascularisation. Perfusion changes in tumor microenvironment were studied in a young
patient with a high-grade myxoid liposarcoma after isolated limb perfusion with TNF-α
and melphalan, using advanced MR imaging. Quantitative and semi-quantitative evaluation
of perfusion metrics included k<sup>trans</sup>/f/T2* shift and automatic extraction of enhancement
patterns. Strong agreement between different methods is consistent with response to
therapy, specifically reduced perfusion (mean k<sup>trans</sup> shifted from 0.424 to 0.099 mL/g/min,
mean f from 33.5 to 7.3%), reduced hypoxia indication (mean T2* increased from 72 to 82
ms) and prevalence of necrotic areas. </p>

  </div>
</div>

<div class="col-md-12 col-sm-12">
  <div class="abstrs-sec">
    <h2>Keywords</h2>
     <p>Tumor Necrosis Factor-α; MR imaging/diagnosis; Pattern Recognition; Tumor hypoxia; Cancer imagenomics; Liposarcoma/treatment response </p>
  </div>
</div>

<div class="col-md-12 col-sm-12">
  <div class="abbrev-sec">
    <h2>Abbreviations</h2>
      <p align="">(TNF-α)   :   Tumor Necrosis Factor Alpha<br>
ILP : Isolated limb perfusion<br>
DCE    :   Dynamic Contrast Enhanced<br>
DWI    :   Diffusion Weighted Imaging<br>
IVIM     :   Intravoxel Incoherent Motion<br>
T2*r     :   T2* Relaxometry<br>
BOLD     :   Blood Oxygen Level-Dependent<br>
PK     :   Pharmacokinetic<br>
ktrans           :   Transendothelial permeability<br>
dHb    :   Deoxyhemoglobin<br>
IMVD     :   Intratumoral Microvessel Density<br>
FISH     :   Fluorescence In situ Hybridization<br>
PR     :   Pattern Recognition</p>

  </div>
</div>

<div class="col-md-12 col-sm-12">
  <div class="abbrev-sec">
    <h2>Introduction</h2>
   <p>Isolated limb perfusion (ILP) has been used for locally advanced extremity soft tissue
sarcoma in order to avoid amputation when wide excision of the tumor is not feasible
[1]. Subsequently (marginal) excision of the tumor is performed 6 to 8 weeks after this
regional chemotherapy treatment. A drug combination of tumor necrosis factor alpha
(TNF-α) and melphalan is usually used. TNF-α is multifunctional cytokine that plays a
major role in innate and acquired immunity while its binding to certain receptors leads to
hemodynamic and antitumor effects [2]. The administration of TNF-α during ILP inhibits
devastating systemic hemodynamic effects and shows a strong synergistic antitumor
action with chemotherapeutic agents in sarcoma patients [3]. In the setting of ILP TNF-α
has two distinct antitumor properties that may be related to each other: increased uptake
of chemotherapeutic drugs such as melphalan into the tumor and selective destruction of
tumor neovascularization [2]. In experimental studies TNF-α has led to increased vessel
permeability and decreased interstitial pressure as immediate effects after administration
[4,5]. These early antivascular effects lead to an up to 6-fold–increased uptake of melphalan into the tumor [6]. Late antivascular effects such as tumor vessel
disintegration and endothelial apoptosis which may ultimately result
in tumor necrosis are best demonstrated in imaging obtained before
and after ILP with TNF-α [7].</p>

<p>The evaluation of tumor response to therapy by non-invasively
assessing blood supply and oxygen level has been a long-standing
endeavor in MR imaging (MRI). To this end clinically relevant
perfusion biomarkers extracted from Dynamic Contrast Enhanced
(DCE) Diffusion Weighted Imaging (DWI) and T2* relaxometry
(T2*r) are indicative of various pathophysiological properties of
tissue vascularity [8,9].</p>

<p>Specifically DCE MRI evaluates the temporal pattern of
enhancement from multiple dynamic acquisitions of high temporal
resolution. A recent semi-quantitative analysis framework relies on a
pattern recognition (PR) method namely BU-NMF [10] which extracts
automatically the principal enhancement patterns that describe DCE
data and assigns a certain enhancement profile to each image pixel.
These patterns can be labeled as necrotic hypoxic and well-perfused
and were associated with the three most common enhancement
patterns found in tumors [11] which are described by steady and
subtle enhancement (Type 1) by delayed enhancement and some
wash-out (Type 2) and by rapid enhancement and wash-out (Type
3). Additionally quantitative analysis based on pharmacokinetic (PK)
models [12] provides estimates of transfer rates of the contrast agent
from plasma to tissue (transendothelial permeability-k<sup>trans</sup>).</p>

<p>However the DCE is not the only MRI method providing metrics
indicative of vascularity. Intravoxel incoherent motion (IVIM) model
of DWI may separate microcirculatory from thermal diffusion effects
and can be used to study microcirculatory blood flow properties by
estimating the microperfusion fraction f [13] i.e. the fraction of DWI
signal arising from incoherent blood flow motion.</p>

<p>A third MRI method related to blood supply is the Blood Oxygen
Level-Dependent (BOLD) which indirectly measures the total
amount of deoxyhemoglobin (dHb) levels in a voxel. Conceptually
the paramagnetic nature of deoxyhemoglobin as opposed to
oxyhemoglobin accelerates T2* relaxation shortening thus T2*
constants of tissue around the blood vessels. Importantly dHb levels
depend on a number of concurrent phenomena such as blood flow
blood oxygenation vasculature hemoglobin levels etc. [14] Because
of the complex interplay between blood supply and oxygen extraction
changes in oxygen delivery (blood flow) are not directly related to
changes of oxygen consumption and dHb changes do not always
match the expected action of the vascular stimulus. T2*r can provide
information regarding tumor microenvironment as it reflects tissue
oxygen bioavailability. Larger T2* tissue constants as a result of
lower dHb concentration may indicate lower blood flow lower tissue
oxygenation deficient vascular network etc. and is consistent with
tumor response to therapy [9].</p>

<p>Although based on different grounds all three techniques have
been widely used for tumor characterization. To our knowledge MRI
analysis of TNF induced perfusion have only been studied in animals
[15] and have shown changes in endothelial permeability after
therapy as measured by perfusion biomarkers. This case study shows
the vascularity changes in a lower limb sarcoma after ILP with TNF-α
based on quantitative and semi-quantitative MRI methods.</p>

  </div>
</div>

<div class="col-md-12 col-sm-12">
<div class="gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="thumbnail">
                    <a class="lightbox" href="static/assets/images/brr-1-101-f1.jpg">
                        <img src="static/assets/images/brr-1-101-f1.jpg" alt="">
                    </a>
                 
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="thumb-fig-cap">
                   <h2 class="figure-title">Figure 1</h2>
                    <p>Magnified oblique view of the left foot, shows a soft
tissue mass (asterisk) with displacement and remodelling of the
4th metatarsal (arrow).</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-md-12 col-sm-12">
<div class="gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="thumbnail">
                    <a class="lightbox" href="static/assets/images/brr-1-101-f2.jpg">
                        <img src="static/assets/images/brr-1-101-f2.jpg" alt="">
                    </a>
                 
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="thumb-fig-cap">
                   <h2 class="figure-title">Figure 2</h2>
                   <p>CD34 stain highlights the thin-walled mostly arborizing
vasculature (magnification X200).</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-md-12 col-sm-12">
  <div class="abbrev-sec">
    <p align="justify">CT of the lungs revealed small nodular lesions which were
considered negative for metastatic disease at the following PET-CT.</p>

<p align="justify">In order to avoid amputative surgery the patient underwent
ILP from the popliteal vessels with 1 mg TNF-α (administered at
time 0’) and 65 mg (10 mg/L limb volume administered at time 30’)
melphalan for a total of 90 minutes. The postoperative course was
uneventful and gradual reduction and softening of the tumor were observed. Two months after ILP and before the planned resection of
the tumor MRI demonstrated reduction of the tumor size (Figure 3)
whereas advanced MRI was performed for research purposes (Figure
4). A new CT of the lungs demonstrated the presence of multiple
lung metastases. Since the patient was asymptomatic the planned
resection of the tumor was abandoned and systemic chemotherapy
was initiated.</p>
  </div>
</div>

<div class="col-md-12 col-sm-12">
<div class="gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="thumbnail">
                    <a class="lightbox" href="static/assets/images/brr-1-101-f3.jpg">
                        <img src="static/assets/images/brr-1-101-f3.jpg" alt="">
                    </a>
                 
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="thumb-fig-cap">
                   <p><strong>Figure 3:</strong> Baseline and follow-up MR imaging.<br>
Fat suppressed contrast enhanced sagittal T1-w MR image a) before TNF therapy and b) after TNF therapy, showing the soft tissue mass
with intense and in homogenous enhancement (arrows in a) and response to treatment (arrows in b) with regard to both the size of the
lesion and the degree of enhancement.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-md-12 col-sm-12">
<div class="gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="thumbnail">
                    <a class="lightbox" href="static/assets/images/brr-1-101-f4.jpg">
                        <img src="static/assets/images/brr-1-101-f4.jpg" alt="">
                    </a>
                 
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="thumb-fig-cap">
                  <p><strong>Figure 4:</strong>  Screenshot from in-house built software platform for DCE longitudinal analysis [16].
Pixel-based parametric (k<sup>trans</sup>) maps and corresponding histograms from a single slice of the tumor a) before and b) after TNF therapy.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-md-12 col-sm-12">
<div class="gallery-container">
    <div class="tz-gallery">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2>Results</h2>
            <p align="justify">Baseline perfusion study showed strong enhancement (Figure
3a) and further post processing with in-house built software [16,17]
evaluated high k<sup>trans</sup> (mean 0.424 mL/g/min) (Figure 4a) and f values
(mean 33.5%) indicating functional vessel network to the neoplasm.
The semi-quantitative PR results show that before therapy there is
prevalence of the hypoxic enhancement pattern i.e. 59.02% (Figures.
5a, 6). T2* relaxometry showed a mean value for the 3D tumor ROI
of 72 ms.</p>
          </div>
            <div class="col-md-12 col-sm-12">
                <div class="thumbnail">
                    <a class="lightbox" href="static/assets/images/brr-1-101-f5.jpg">
                        <img src="static/assets/images/brr-1-101-f5.jpg" alt="">
                    </a>
                 
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="thumb-fig-cap">
                   <p><strong>Figure 5:</strong>  Semi-quantitative results before TNF therapy<br>
a) classification of a single slice of the tumor with the different enhancement patterns, i.e. well-perfused (green), hypoxic (blue) and
necrotic (red), identified using pattern recognition techniques<br>
b) plots of the three patterns and corresponding percentage contribution of each one to the whole tumor. The hypoxic pattern (blue) is
the principal pattern before TNF therapy</p>
                </div>
            </div>
              <div class="col-md-12 col-sm-12">
                <div class="thumbnail">
                    <a class="lightbox" href="static/assets/images/brr-1-101-f6.jpg">
                        <img src="static/assets/images/brr-1-101-f6.jpg" alt="">
                    </a>
                 
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="thumb-fig-cap">
                 <p><strong>Figure 6:</strong>   Semi-quantitative results after TNF therapy<br>
a) classification of a single slice of the tumor with the different enhancement patterns, i.e. well-perfused (green), hypoxic (blue) and necrotic
(red), identified using pattern recognition techniques and b) plots of the three patterns and corresponding percentage contribution of each
one to the whole tumor. The necrotic pattern is dominant after TNF therapy</p>

<p align="justify">MRI findings before therapy were correlated with
immunohistochemistry results (CD34) regarding intratumoral microvessel density (iMVD). The CD34-stained neoplastic vasculature
consisted mostly in fine arborizing vessels with diameter greater than
06 mm and newly formed vessels of one to three endothelial cells.
Vessel rich “hot spots” areas were located in the tumor periphery
and interestingly correlated closely with the areas having the highest
tumor cell proliferation activity (Figure 2). Two methods were used
to assess iMVD: a) microvessel counting [18] and b) the relative
microvessel area estimate (‘Chalkley count’) [19]. The absolute
number of the vessel count obtained in the three fields x200 was
290 282 and 264 respectively resulting in a mean of 280.3 vessels.
Chalkley grid score of each hot spot was 14 18 and 16 respectively
resulting in a mean Chalkley count of 16.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-md-12 col-sm-12">
<div class="gallery-container">
    <div class="tz-gallery">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2>Visualizing Response to Therapy</h2>
             <p align="justify">Since follow up MRI was performed two months after therapy
this study focused on the late vascularity changes such as tumor
vessel disintegration and endothelial apoptosis. Identical protocol
showed minimal foci of enhancement and reduced number of pixels
(873 before vs 618 pixels assigned as tumor after therapy counted
in 128x128 DWI images) in the ROI volume (Figure 3b). The semi quantitative approach showed that after therapy the necrotic
enhancement pattern is dominant representing a percentage of 97%
of image pixels (Figures. 5b,6). All measured k<sup>trans</sup> metrics [16] show
remarkably reduced perfusion in the whole tumor volume (mean
was reduced from 0.424 to 0.099 mL/g/min median from 0.349 to
0.06 mL/g/min and 95th percentile from 0.948 to 0.326 mL/g/min)
(Figures 4b 7a) strongly indicating severe impairment of the vessel
network. Reduced blood flow was also confirmed by decrease of the f
metric (mean was reduced from 33.5 to 7.3% median from 33.8 to 5%
and 95th percentile from 34.6 to 20.1%) (Figure. 7b) [17]. However
perfusion changes alone do not suffice to indicate areas of deprived
oxygen supply which are important for patient management and
assessment of response to therapy. To this end T2* relaxometry was
additionally performed. In particular T2* relaxation became slower
after therapy (mean was increased from 72 to 82ms median from 61
to 62ms and 95th percentile from 164 to 214ms) implying decreased
levels of deoxyhemoglobin (Figure. 7c). This finding is in accordance
with the aforementioned findings derived from both DCE-MRI and
DW-MRI.</p>

          </div>
            <div class="col-md-12 col-sm-12">
                <div class="thumbnail">
                    <a class="lightbox" href="static/assets/images/brr-1-101-f7.jpg">
                        <img src="static/assets/images/brr-1-101-f7.jpg" alt="">
                    </a>
                 
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="thumb-fig-cap">
                   <p><strong>Figure 7:</strong>   Pixel based histogram analysis before (red) and after (green)<br>
TNF therapy from 3-dimensional tumor ROI. a) k<sup>trans</sup> (mL/g/min), b) f ( *100%), c)T2* (ms).</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-md-12 col-sm-12">
<div class="gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-md-12 col-sm-12">
            <h2>Discussion</h2>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="thumb-fig-cap">
                 <p align="justify">Quantitative MRI is a powerful tool to assess changes in tumor
microenvironment after therapeutic interventions. Although there
is no absolute threshold to characterize tumor proliferation hypoxia
or necrosis relative changes of perfusion metrics are indicative of
changes in vascular permeability oxygen consumption and vascularity
and are therefore often used to assess response after therapy. Threedimensional
ROI histogram analysis permits to analyze the whole
tumor volume without the need for spatial co-registration between
different time points. Mean value shifts in all biomarkers (k<sup>trans</sup> f T2*)
stemming from different methods (DCE DWI T2* respectively) are in
accordance with the change of the characteristic dominant perfusion
curve of the tumor volume supporting the hypothesis of response to
therapy. All metrics compose a complete multifaceted analysis which
supports satisfactorily the radiological interpretation. </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-md-12 col-sm-12">
<div class="gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-md-12 col-sm-12">
            <h2>Conclusion</h2>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="thumb-fig-cap">
                <p align="justify">To conclude this study enabled us to obtain an objective evaluation
of the non-invasive assessment of blood supply and oxygen delivery
post TNF-a therapy using a combination of DCE DWI and T2*r MRI
related biomarkers. To our knowledge no study combining more than
one perfusion monitoring techniques was found in the recent and
older literature in animal or patient population. </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-md-12 col-sm-12">
<div class="gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-md-12 col-sm-12">
            <h2>References</h2>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="thumb-fig-cap">
                <ol>
<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/27197621">Jakob J, Hohenberger P. Role of isolated limb perfusion with recombinant human tumor necrosis factor &alpha; and melphalan in locally advanced extremity soft tissue sarcoma. Cancer. 2016 May;22(17):2624-2632</a>.</li>
<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/11239407">Locksley RM, Killeen N, Lenardo MJ. The TNF and TNF receptor superfamilies: Integrating mammalian biology. Cell. 2001 Feb;104(4):487-501.</a></li>
<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/1727926">Lienard D, Ewalenko P, Delmotte JJ, Renard N, Lejeune FJ. High-dose recombinant tumor necrosis factor alpha in combination with interferon gamma and melphalan in isolation perfusion of the limbs for melanoma and sarcoma. J Clin Oncol. 1992 Jan;10(1):52-60.</a></li>
<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/8449608">Folli S, Pelegrin A, Chalandon Y, Yao X, Buchegger F, et al. Tumor-Necrosis-Factor Can Enhance Radio-Antibody Uptake in Human Colon-Carcinoma Xenografts by Increasing Vascular-Permeability.Int J Cancer. 1993 Mar;53(5):829-836.</a></li>
<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/8848928">Jahr J, Grande PO. <em>In vivo </em>effects of tumor necrosis factor-alpha on capillary permeability and vascular tone in a skeletal muscle. Acta Anaesthesiol Scand. 1996 Feb;40(2):256-261</a>.</li>
<li>de Wilt JH, ten Hagen TL, de Boeck G, van Tiel ST, de Bruijn E a, et al. Tumour necrosis factor alpha increases melphalan concentration in tumour tissue after isolated limb perfusion. Br J Cancer. 2000 Mar;82(5):1000-1003.</li>
<li><a href="https://www.nature.com/articles/nm0498-408">Ruegg C, Yilmaz A, Bieler G, Bamat J, Chaubert P, et al. "Evidence for the involvement of endotheliai cell integrin &alpha;V&beta;3 in the disruption of the tumor vascuiature induced by TNF and IFN-&gamma;. Nat Med. 1998 April;4:408-414.</a></li>
<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28753225">Sujlana P, Skrok J, Fayad LM. Review of dynamic contrast-enhanced MRI: Technical aspects and applications in the musculoskeletal system. Journal of Magnetic Resonance Imaging. 2018 Apr;47(4):875-890.</a></li>
<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28693449">Rumley CN, Lee MT, Holloway L, Rai R, Min M , et al. Multiparametric magnetic resonance imaging in mucosal primary head and neck cancer: A prospective imaging biomarker study. BMC Cancer. 2017 Jul;17(1):475.</a></li>
<li><a href="https://link.springer.com/article/10.1007/s11042-017-5046-6">Venianaki M, Salvetti O, de Bree E, T. Maris, A. Karantanas, et al. Pattern recognition and pharmacokinetic methods on DCE-MRI data for tumor hypoxia mapping in sarcoma. Multimedia Tools and Application. 2017 Aug;1-23.</a></li>
<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/10189459">Kuhl CK, Mielcareck P, Klaschik S, Leutner C, Wardelmann E, et al. Dynamic breast MR imaging: are signal intensity time course data useful for differential diagnosis of enhancing lesions? Radiology. 1999 Apr;211(1):101-110.</a></li>
<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/2062210">Tofts PS, Kermode AG. Measurement of the blood-brain barrier permeability and leakage space using dynamic MR imaging. 1. Fundamental concepts. Magn Reson Med. 1991 Feb;17(2):357-367.</a></li>
<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/28885745">Federau C. Intravoxel incoherent motion MRI as a means to measure in vivo perfusion: A review of the evidence. NMR Biomed. 2017 Nov;30(11).</a></li>
<li>Howe FA, Robinson SP, McIntyre DJO, Stubbs M, Griffiths JR. Issues in flow and oxygenation dependent contrast (FLOOD) imaging of tumours. NMR Biomed. 2001 Nov-Dec;14(7-8):497-506.</li>
<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/15480945">Preda A, Wielopolski Pa, Ten Hagen TLM, van Vliet M, Veenland JF, et al. Dynamic contrast-enhanced MRI using macromolecular contrast media for monitoring the response to isolated limb perfusion in experimental soft-tissue sarcomas. MAGMA. 2004 Dec;17(3-6):296-302.</a></li>
<li>Kontopodis E, Karatzanis I, Sakkalis V, Francesca B, Marias K. A DCE-MRI analysis workflow. In: CGI &rsquo;16:Proceedings of the 33rd Computer Graphics International Conference. 2016:101-104.</li>
<li>Manikis GC, Nikiforaki K, Papanikolaou N, Marias K. Diffusion Modelling Tool (DMT) for the analysis of Diffusion Weighted Imaging (DWI) Magnetic Resonance Imaging (MRI) data. In: CGI &rsquo;16:Proceedings of the 33rd Computer Graphics International Conference. 2016:97-100.</li>
<li><a href="http://www.nejm.org/doi/full/10.1056/NEJM199101033240101">Weidner N, Semple JP, Welch WR, Folkman J. Tumor angiogenesis and metastasis--correlation in invasive breast carcinoma. N Engl J Med. 1991;324:1-8.</a></li>
<li><a href="https://academic.oup.com/jnci/article-abstract/4/1/47/929499?redirectedFrom=PDF">Chalkley HW. Method for the quantitative morphologic analysis of tissues. J Natl Cancer Inst. 1943 Aug;4(1):47-53.</a></li>
</ol>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- information section close -->
    <!-- footer section start -->
    <footer class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>+91-98765 43210</h3>
                </div>
                <div class="col-md-3">
                    <h3><a href="#" target="_blank">msdpublications@gmail.com</a></h3>
                </div>
                <div class="col-md-3">
                    <h3><a href="#">

Hyderabad</a></h3>
                </div>

                <div class="col-md-3">
                    <h3>24x7x365</h3>
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer-center">
        <div class="container">

            <div class="row">
                <div class="col-md-3 item-center">
                    <span class="arrow_footer"></span>
                    <i class="fa fa-phone"></i>
                    <h4>Talk to Us</h4>
                </div>
                <div class="col-md-3 item-center">
                    <span class="arrow_footer"></span>
                    <i class="fa fa-envelope"></i>
                    <h4>Email Us</h4>
                </div>
                <div class="col-md-3 item-center">
                    <span class="arrow_footer"></span>
                    <i class="fa fa-map-marker-alt"></i>
                    <h4>Location</h4>
                </div>

                <div class="col-md-3 item-center">
                    <span class="arrow_footer"></span>
                    <i class="fa fa-thumbs-up"></i>
                    <h4>Good Support</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="top"></div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <div class="border-right">
                        <img src="static/assets/images/logo.png" height="100px;">

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="border-right">
                        <h4>Useful Links</h4>
                        <ul class="links">
                            <li><a href="home">Home</a></li>
                            <li><a href="company_information">Company Information</a></li>
                            <li><a href="publications">Publications</a></li>
                            <li><a href="ebooks">E-Books</a></li>
                            <li><a href="submit_articles">Submit Article</a> </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="border-right">
                        <h4>Useful Links</h4>
                        <ul class="links">
                            <li><a href="collaborations">Collaborations</a></li>
                            <li><a href="reprints">Reprints and Permissions</a></li>
                            <li><a href="membership">Membership Program</a></li>
                            <li><a href="faqs">Frequently Asked Questions</a></li>
                            <li><a href="contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <h4>Follow Us</h4>
                    <div id="social">
                        <a class="facebookBtn smGlobalBtn" href="#"></a>
                        <a class="twitterBtn smGlobalBtn" href="#"></a>
                        <a class="googleplusBtn smGlobalBtn" href="#"></a>
                        <a class="linkedinBtn smGlobalBtn" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 copyright wow slideInUp">
                    <p> © 2019 MSD Publications. All Rights Reserved.
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 design wow slideInUp">
                    <p>Designed By <a href="http://www.angularwebs.com/" target="_blank"> Angular Webs</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- footer section close -->
    <!-- <div id="stop" class="scrollTop">
<div class='scroll icon'><i class="fa fa-2x fa-angle-up"></i></div>
<span><a href="">Top</a></span>
</div> -->
    <!--<div class='scrolltop'>-->
    <!--    <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>-->
    <!--</div>-->
    </div>
</body>

</html>

<script src="static/assets/js/jquery.min.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>
<script src="static/assets/js/nav_menu.js" type="text/javascript"></script>
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script> -->
<script type="text/javascript" src="static/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script type="text/javascript" src="static/assets/js/baguetteBox.min.js"></script>
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script> -->
<!--   <script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script> -->
<!-- <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script> -->
<script type="text/javascript">
    $(document).ready(function() {
        //Events that reset and restart the timer animation when the slides change
        $("#transition-timer-carousel").on("slide.bs.carousel", function(event) {
            //The animate class gets removed so that it jumps straight back to 0%
            $(".transition-timer-carousel-progress-bar", this)
                .removeClass("animate").css("width", "0%");
        }).on("slid.bs.carousel", function(event) {
            //The slide transition finished, so re-add the animate class so that
            //the timer bar takes time to fill up
            $(".transition-timer-carousel-progress-bar", this)
                .addClass("animate").css("width", "100%");
        });

        //Kick off the initial slide animation when the document is ready
        $(".transition-timer-carousel-progress-bar", "#transition-timer-carousel")
            .css("width", "100%");
    });
</script>

<script type="text/javascript">
    $(window).on('scroll', function() {
        if ($(this).scrollTop() > 250) { // Set position from top
            $('.header_area').addClass("page-scroll");
        } else {
            $('.header_area').removeClass("page-scroll");
        }
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#testimonial-slider").owlCarousel({
            items: 3,
            itemsDesktop: [1000, 3],
            itemsDesktopSmall: [979, 3],
            itemsTablet: [768, 1],
            pagination: true,
            navigation: false,
            slideSpeed: 1000,
            autoPlay: true
        });
    });
</script>
<!-- <script type="text/javascript">
$(document).ready(function() {
$('.carousel').carousel({
interval: 6000
})
});

</script> -->
<script type="text/javascript">
    $('.js-anchor-link').click(function(e) {
        e.preventDefault();
        var target = $($(this).attr('href'));
        if (target.length) {
            var scrollTo = target.offset().top;
            $('body, html').animate({
                scrollTop: scrollTo + 'px'
            }, 800);
        }
    });
</script>
<script type="text/javascript">
    //   $('.Show').click(function() {
    //     $('#target').show(500);
    //     $('.Show').hide(0);
    //     $('.Hide').show(0);
    //      $("#plus").text("-");
    // });
    // $('.Hide').click(function() {
    //     $('#target').hide(500);
    //     $('.Show').show(0);
    //     $('.Hide').hide(0);
    // });
    $('.div-s-h').click(function() {
        $('.show-hide-div').toggle('slow');
    });

    $(function() {
        $('.plus-minus-toggle').on('click', function() {
            $(this).toggleClass('collapsed');
        });
    });
</script>
<script>
    // BY KAREN GRIGORYAN

    $(document).ready(function() {
        /******************************
        BOTTOM SCROLL TOP BUTTON
        ******************************/

        // declare variable
        var scrollTop = $(".scrollTop");

        $(window).scroll(function() {
            // declare variable
            var topPos = $(this).scrollTop();

            // if user scrolls down - show scroll to top button
            if (topPos > 200) {
                $(scrollTop).css("opacity", "1");

            } else {
                $(scrollTop).css("opacity", "0");
            }

        }); // scroll END

        //Click event to scroll to top
        $(scrollTop).click(function() {
            $('html, body').animate({
                scrollTop: 0
            }, 800);
            return false;

        }); // click() scroll top EMD

    }); // ready() END
</script>
<script type="text/javascript">
  
$('a').magnificPopup({
    type: 'image',
    closeBtnInside: false,
    closeOnContentClick: false,
  
    callbacks: {
      open: function() {
        var self = this;
        self.wrap.on('click.pinhandler', 'img', function() {
          self.wrap.toggleClass('mfp-force-scrollbars');
        });
      },
      beforeClose: function() {
            this.wrap.off('click.pinhandler');
        this.wrap.removeClass('mfp-force-scrollbars');
      }
    },
     
    image: {
      verticalFit: false
    }
  
  });



</script>

    <script>
    baguetteBox.run('.tz-gallery');
</script>