
<!DOCTYPE html>
<html lang="en">
<head>
  <title>MSD Publications</title>
  <meta charset="utf-8">
  <meta name="author" content="Sridher Goud Thodeti">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" href="static/assets/images/favicon.png" type="image/gif" sizes="16x16">
  <link rel="stylesheet" type="text/css" href="static/assets/css/menu.css">
  <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <script type="text/javascript" src="static/assets/webslidemenu/webslidemenu.js"></script>
  <link rel="stylesheet" href="static/assets/webslidemenu/demo.css" />
   <!--Main Menu File-->
  <link rel="stylesheet" href="static/assets/css/style.css" />
<link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="static/assets/css/owl.theme.min.css">
</head>
<body>
  <!-- Mobile Header -->
  <div class="headtoppart clearfix">
    <div class="container">
    <div class="upper-right pull-right">
                        <!--Info Box-->
                        <div class="upper-column info-box">
                        	<div class="icon-box"><span class="fas fa-envelope"></span>msdpublications@gmail.com</div>
                        </div>
                        <!--Info Box-->
                        <div class="upper-column info-box">
                        	<div class="icon-box"><span class="fas fa-phone"></span>+91-98765 43210</div>
                        </div>
						
						<!--Info Box-->
                        <div class="upper-column info-box">
                        	<div class="icon-box"><span class="fas fa-map-marker-alt"></span>Hyderabad </div>
                        </div>
                    </div>
                </div>
  </div>
 <!--  navbar section start -->
<header class="header_area">
  <div class="main_header_area animated">
    <div class="container">
      <nav id="navigation1" class="navigation">
        <!-- Logo Area Start -->
        <div class="nav-header">
          <a class="nav-brand" href="home">
            <img src="static/assets/images/logo.png">
          </a>
          <div class="nav-toggle"></div>
        </div>
        <!-- Search panel Start -->
     <!--    <div class="nav-search">
          <div class="nav-search-button">
            <i class="nav-search-icon"></i>
          </div>
          <form>
            <div class="nav-search-inner">
              <input type="search" name="search" placeholder="Type Your Keywords">
            </div>
          </form>
        </div> -->
        <!-- Main Menus Wrapper -->
        <div class="nav-menus-wrapper">
          <ul class="nav-menu align-to-right">
             <li><a href="home">Home</a></li>
           <li><a href="publications">All Publications</a> </li>
              <li><a href="about_open">Open Access</a></li>
            <li><a href="ebooks">E-Books</a> </li>
            <li><a href="submit_articles">Submit Article</a> </li>
               <li><a href="#">Best Practices</a>
              <div class="megamenu-panel">
                <div class="megamenu-lists">
                  <ul class="megamenu-list list-col-4">
                      <li class="title ba-font-ff">Guidelines &amp; Information</li>
                      <li><a href="company_information">Company Information</a></li>
                      <li><a href="author_guidelines">Author Guidelines</a></li>
                      <li><a href="editor_guidelines">Editor Guidelines</a></li>
                      <li><a href="reviewer_guidelines">Reviewer Guidelines</a></li>
                      <li><a href="peer_review">Peer Review Guidelines</a></li>
                      <li><a href="special_issue">Special Issue Guidelines</a></li>
                      <li><a href="article_processing">Article Processing Charges</a></li>
                   
                  </ul>
                  <ul class="megamenu-list list-col-4">
                  <li class="title ba-font-ff">Policies &amp; Ethics</li>
                      <li><a href="indexing">Indexing</a></li>
                      <li><a href="benefits">Benefits for Authors</a></li>
                      <li><a href="publication_ethics">Publication Ethics</a></li>
                      <li><a href="about_open">About Open Access</a></li>
                      <li><a href="about_peer">About Peer review</a></li>
                  </ul>
                  <ul class="megamenu-list list-col-4">
                     <li class="title ba-font-ff">Initiatives</li>
                      <li><a href="collaborations">Collaborations</a></li>
                      <li><a href="reprints">Reprints and Permissions</a></li>
                      <li><a href="membership">Membership Program</a></li>
                  </ul>
                  <ul class="megamenu-list list-col-4">
                     <li class="title ba-font-ff">Help &amp; Info</li>
                      <li><a href="faqs">Frequently Asked Questions</a></li>
                      <li><a href="contact">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </li>
            
            <li><a href="signin">Signin/Signup</a></li>
             <!-- <li class="donate-btn"><a href="#">Donate</a></li> -->
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
 <!-- navbar section close -->
 <!-- banner titles sections start -->
<div id="banner-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Frequently Asked Questions</h2>
        <p><a href="home" class="hm-a">Home</a> // <a href="faqs" class="pg-a">Frequently Asked Questions</a></p>
      </div>
    </div>
  </div>
</div>
 <!-- banner titles sections close -->
 <!-- information section start -->
<div id="inform-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="faq-secc">
        <div class="cnt-sec">
           <div class="tabs">
      <div class="tab">
        <input type="radio" id="rd1" name="rd">
        <label class="tab-label" for="rd1">Who we are?</label>
        <div class="tab-content">
          <p> MSD Publications is an Open Access publisher of Science, Technology, Engineering and Mathematics(STEM) topics in various specialised fields adding up to a total of 38 journals. We believe in the Open Access initiative and making access to knowledge free for everyone.</p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" id="rd2" name="rd">
        <label class="tab-label" for="rd2">What is Open Access?</label>
        <div class="tab-content">
           <p>Content published in OA journals can be read, downloaded, copied, distributed, printed, or used for any other lawful purpose without asking prior permission from the publisher or the author. You can learn mere <a href="about_open">here</a></p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd3" name="rd">
        <label class="tab-label" for="rd3">WHAT ARE MSD Publications' OBJECTIVES?</label>
        <div class="tab-content">
          <p>To seek out and publish high quality content while making it readily available to everyone at no cost. MSD Publications' objectives are best described in the <a href="company_information">mission statement.</a></p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd4" name="rd">
        <label class="tab-label" for="rd4">WHAT DISCIPLINES DOES MSD Publications PUBLISH IN?</label>
        <div class="tab-content">
          <p>At the moment we have a total of 38 journals (and counting) in major STEM fields. Please visit the <a href="publications">publications</a> page for more information. </p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd5" name="rd">
        <label class="tab-label" for="rd5">WHAT ARE THE ROLES AND RESPONSIBILITIES OF AN EDITOR?</label>
        <div class="tab-content">
        <p>An editor collaborates with other editors in making publishing decisions and policies. For more details visit the <a href="editor_guidelines">Editor Guidelines</a> page.</p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd6" name="rd">
        <label class="tab-label" for="rd6">WHAT IS MSD Publications' PEER REVIEW PROCESS LIKE?</label>
        <div class="tab-content">
         <p>We have adopted the internationally accepted <a  href="about_peer"> double-blind </a> peer review process. Editors of the publishing journal choose the reviewers, but the identities of the author and reviewers are concealed from each other to prevent potential bias. Papers are published based on reviewers recommendation but editors' decision. </p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd7" name="rd">
        <label class="tab-label" for="rd7">WHAT IS THE PAGE LIMIT FOR A MANUSCRIPT?</label>
        <div class="tab-content">
          <p>There is no page or word limit in MSD Publications journals, however, we do require that short papers like editorials, letters and commentaries must be a minimum 500 words.</p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd8" name="rd">
        <label class="tab-label" for="rd8">HOW DO I SUBMIT A MANUSCRIPT?</label>
        <div class="tab-content">
         <p>Authors can submit their papers as an e-mail attachment to the editorial office or submit through our online <a href="submit_articles">portal.</a></p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd9" name="rd">
        <label class="tab-label" for="rd9">WHAT IS THE FORMAT AND REFERENCE STYLE?</label>
        <div class="tab-content">
          <p>Refer to the <a href="author_guidelines">Author Guidelines </a> page for complete information on preparing your manuscript. Our recommendation is to use the Vancouver style for references.</p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd10" name="rd">
        <label class="tab-label" for="rd10">CAN AUTHORS SUGGEST ANY REVIEWERS?</label>
        <div class="tab-content">
          <p>Double-blind review process  requires that both author(s) and reviewers identities are hidden from each other, our policy is to not accepts any recommendations for reviewers from an author. We may consider it if the situation demands it and there is no cause for any conflict of interest.</p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd11" name="rd">
        <label class="tab-label" for="rd11">WHAT IS THE TIME FRAME FOR PUBLICATION?</label>
        <div class="tab-content">
          <p>The time it takes to process a manuscript can vary depending on the reviewers schedule and the number of corrections that may need to made as per reviewers' feedback. Once accepted, the paper will be published within 7 days and an online link to the page is sent to the author(s).</p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd12" name="rd">
        <label class="tab-label" for="rd12">HOW CAN I MAKE CORRECTIONS IN AN ACCEPTED PAPER?</label>
        <div class="tab-content">
            <p>An accepted paper will be sent to the authors for proof reading before the final publication. Post-publishing author(s) can submit their corrections and they will be published alongside the paper as <a href="author_guidelines">Erratum or Corrigendum </a> depending on the type of error.</p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd13" name="rd">
        <label class="tab-label" for="rd13">WHAT IS THE PUBLISHING FEE?</label>
        <div class="tab-content">
           <p>MSD Publications is a self funded organization and don’t receive any funding from neither govt nor private organizations, therefore, authors need to pay publication charge. For more details please visit <a href="article_processing">Article processing.</a></p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd14" name="rd">
        <label class="tab-label" for="rd14">HOW DO I PAY THE APC?</label>
        <div class="tab-content">
           <p>Authors can pay the <a href="#">article processing charges</a> through the online payment portal using a credit card or make a transfer to MSD Publications account using the account details provided on the invoice.</p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd15" name="rd">
        <label class="tab-label" for="rd15">HOW DO I GET REPRINTS OF MY PUBLISHED ARTICLE?</label>
        <div class="tab-content">
           <p>Authors can submit a request to the editorial office to get the reprints of published articles. For pricing and other details visit the <a href="reprints">reprints</a> page.</p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd16" name="rd">
        <label class="tab-label" for="rd16">ARE PUBLISHED PAPERS ARCHIVED</label>
        <div class="tab-content">
            <p>Yes. We are a member of CrossRef, each published article will be archived by its unique DOI number.</p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd17" name="rd">
        <label class="tab-label" for="rd17">ARE MSD Publications JOURNALS INDEXED?</label>
        <div class="tab-content">
         <p>We are a young enterprise in the publishing industry, our journals are not yet indexed in major databases. However, we are well on our way to getting the journals indexed.</p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd18" name="rd">
        <label class="tab-label" for="rd18">CAN I SEE MY PAPER IN GOOGLE SCHOLAR?</label>
        <div class="tab-content">
            <p>Yes. All accepted papers are indexed in <a href="#">Google Scholar </a> and they can be found on the web.</p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd19" name="rd">
        <label class="tab-label" for="rd19">CAN I WITHDRAW MY PAPER AFTER PUBLICATION?</label>
        <div class="tab-content">
          <p>Yes. Authors are free to withdraw the paper by submitting a letter stating the reasons for doing so to the editorial office. A small fee is deducted if the paper is withdrawn after publication.</p>
        </div>
      </div>
       <div class="tab">
        <input type="radio" id="rd20" name="rd">
        <label class="tab-label" for="rd20">WHAT IS THE RETRACTION POLICY?</label>
        <div class="tab-content">
         <p><a href="author_guidelines"> Author Guidelines</a> </p>
        </div>
      </div>
      
    
    </div>
</div>
      </div>
    </div>
    </div>
  </div>
</div>
 <!-- information section close -->
<!-- footer section start -->
<footer class="footer-top">
            <div class="container">
               <div class="row">   
                   <div class="col-md-3">
                       <h3>+91-98765 43210</h3>
                   </div>
                    <div class="col-md-3">
                       <h3><a href="#" target="_blank">msdpublications@gmail.com</a></h3>
                   </div>
                   <div class="col-md-3">
                       <h3><a href="#">

Hyderabad</a></h3>
                   </div>
                  
                   <div class="col-md-3">
                       <h3>24x7x365</h3>
                   </div>
               </div>                
            </div>
        </footer>
        <footer class="footer-center">
            <div class="container">
             
                <div class="row">   
                   <div class="col-md-3 item-center">
                        <span class="arrow_footer"></span>
                        <i class="fa fa-phone"></i>
                        <h4>Talk to Us</h4>                        
                   </div>
                    <div class="col-md-3 item-center">
                       <span class="arrow_footer"></span>
                        <i class="fa fa-envelope"></i>
                        <h4>Email Us</h4>                        
                   </div>
                   <div class="col-md-3 item-center">
                        <span class="arrow_footer"></span>
                        <i class="fa fa-map-marker-alt"></i>
                        <h4>Location</h4>                        
                   </div>
                  
                   <div class="col-md-3 item-center">
                        <span class="arrow_footer"></span>
                        <i class="fa fa-thumbs-up"></i>
                        <h4>Good Support</h4>                        
                   </div>
                </div>   
               
                <div class="row">
                    <div class="col-md-12">
                        <div class="top"></div>
                    </div>
                </div> 
               
                <div class="row">  
                   
                    <div class="col-md-3">
                        <div class="border-right">
                            <img src="static/assets/images/logo.png" height="100px;" >  

                            </div>                        
                        </div>
                
                    <div class="col-md-3">
                        <div class="border-right">
                            <h4>Useful Links</h4>
                           <ul class="links">
                            	<li><a href="home" >Home</a></li>
    <li><a href="company_information">Company Information</a></li>
    <li><a href="publications">Publications</a></li>
     <li><a href="ebooks">E-Books</a></li> 
      <li><a href="submit_articles">Submit Article</a> </li>   
                            </ul>
                       </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="border-right">
                            <h4>Useful Links</h4>
                            <ul class="links">
       			 	  <li><a href="collaborations">Collaborations</a></li>
                      <li><a href="reprints">Reprints and Permissions</a></li>
                      <li><a href="membership">Membership Program</a></li>
                      <li><a href="faqs">Frequently Asked Questions</a></li>
                      <li><a href="contact">Contact Us</a></li>
                            </ul>
                       </div>
                    </div>
                    
                    <div class="col-md-3">
                        <h4>Follow Us</h4>
                       <div id="social"><a class="facebookBtn smGlobalBtn" href="#"></a>
      <a class="twitterBtn smGlobalBtn" href="#"></a>
      <a class="googleplusBtn smGlobalBtn" href="#"></a>
      <a class="linkedinBtn smGlobalBtn" href="#"></a>
    </div>
                    </div>
                </div>    
            </div>
        </footer>
        <footer class="footer-bottom">
          <div class="container">
<div class="row">
<div class="col-md-6 col-sm-6 copyright wow slideInUp">
<p> © 2019 MSD Publications. All Rights Reserved.
</p>
</div>
<div class="col-md-6 col-sm-6 design wow slideInUp">
<p>Designed By  <a href="http://www.angularwebs.com/" target="_blank"> Angular Webs</a></p>
</div>
</div>
</div>
        </footer>

<!-- footer section close -->
<!-- <div id="stop" class="scrollTop">
     <div class='scroll icon'><i class="fa fa-2x fa-angle-up"></i></div>
    <span><a href="">Top</a></span>
  </div> -->
<!--<div class='scrolltop'>-->
<!--    <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>-->
<!--</div>-->
</div>
</body>
</html>

   <script src="static/assets/js/jquery.min.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>
<script src="static/assets/js/nav_menu.js" type="text/javascript"></script>
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script> -->
<script type="text/javascript" src="static/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script> -->
 <!--   <script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script> -->
<!-- <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script> -->
<script type="text/javascript">
 $(document).ready(function() {    
    //Events that reset and restart the timer animation when the slides change
    $("#transition-timer-carousel").on("slide.bs.carousel", function(event) {
        //The animate class gets removed so that it jumps straight back to 0%
        $(".transition-timer-carousel-progress-bar", this)
            .removeClass("animate").css("width", "0%");
    }).on("slid.bs.carousel", function(event) {
        //The slide transition finished, so re-add the animate class so that
        //the timer bar takes time to fill up
        $(".transition-timer-carousel-progress-bar", this)
            .addClass("animate").css("width", "100%");
    });
    
    //Kick off the initial slide animation when the document is ready
    $(".transition-timer-carousel-progress-bar", "#transition-timer-carousel")
        .css("width", "100%");
});
</script>

<script type="text/javascript">
   $(window).on('scroll', function () {
if ($(this).scrollTop() > 250) { // Set position from top
    $('.header_area').addClass("page-scroll");
}else{
    $('.header_area').removeClass("page-scroll");
}
});
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#testimonial-slider").owlCarousel({
        items:3,
        itemsDesktop:[1000,3],
        itemsDesktopSmall:[979,3],
        itemsTablet:[768,1],
        pagination:true,
        navigation:false,
        slideSpeed:1000,
        autoPlay:true
    });
});
</script>
<!-- <script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 6000
    })
  });

</script> -->
<script type="text/javascript">
  $('.js-anchor-link').click(function(e){
  e.preventDefault();
  var target = $($(this).attr('href'));
  if(target.length){
    var scrollTo = target.offset().top;
    $('body, html').animate({scrollTop: scrollTo+'px'}, 800);
  }
});
</script>
<script type="text/javascript">
//   $('.Show').click(function() {
//     $('#target').show(500);
//     $('.Show').hide(0);
//     $('.Hide').show(0);
//      $("#plus").text("-");
// });
// $('.Hide').click(function() {
//     $('#target').hide(500);
//     $('.Show').show(0);
//     $('.Hide').hide(0);
// });
$('.div-s-h').click(function() {
    $('.show-hide-div').toggle('slow');
});

$(function() {
  $('.plus-minus-toggle').on('click', function() {
    $(this).toggleClass('collapsed');
  });
});
</script>
<script>
    // BY KAREN GRIGORYAN

$(document).ready(function() {
  /******************************
      BOTTOM SCROLL TOP BUTTON
   ******************************/

  // declare variable
  var scrollTop = $(".scrollTop");

  $(window).scroll(function() {
    // declare variable
    var topPos = $(this).scrollTop();

    // if user scrolls down - show scroll to top button
    if (topPos > 200) {
      $(scrollTop).css("opacity", "1");

    } else {
      $(scrollTop).css("opacity", "0");
    }

  }); // scroll END

  //Click event to scroll to top
  $(scrollTop).click(function() {
    $('html, body').animate({
      scrollTop: 0
    }, 800);
    return false;

  }); // click() scroll top EMD

 
}); // ready() END
</script>
<script type="text/javascript">
	$(document).ready(function ()
{
	//Fade in delay for the background overlay (control timing here)
	$("#bkgOverlay").delay(4800).fadeIn(400);
  //Fade in delay for the popup (control timing here)
	$("#delayedPopup").delay(5000).fadeIn(400);
	
	//Hide dialouge and background when the user clicks the close button
	$("#btnClose").click(function (e)
	{
		HideDialog();
		e.preventDefault();
	});
});
//Controls how the modal popup is closed with the close button
function HideDialog()
{
	$("#bkgOverlay").fadeOut(400);
	$("#delayedPopup").fadeOut(300);
}

</script>
<script type="text/javascript">
	var video = document.getElementById("myVideo");
	var btn = document.getElementById("myBtn");

	function myFunction() {
	  if (video.paused) {
	    video.play();
	    btn.innerHTML = "Pause";
	  } else {
	    video.pause();
	    btn.innerHTML = "Play";
	  }
	}

	function myFunction(x) {
  x.classList.toggle("gn-selected");
}

	var vid = document.getElementById("bgvid");
var pauseButton = document.querySelector("#polina button");

if (window.matchMedia('(prefers-reduced-motion)').matches) {
    vid.removeAttribute("autoplay");
    vid.pause();
    pauseButton.innerHTML = "Paused";
}

function vidFade() {
  vid.classList.add("stopfade");
}

vid.addEventListener('ended', function()
{
// only functional if "loop" is removed 
vid.pause();
// to capture IE10
vidFade();
}); 


pauseButton.addEventListener("click", function() {
  vid.classList.toggle("stopfade");
  if (vid.paused) {
    vid.play();
    document.getElementById("play-hide").style.display = "none";
    pauseButton.innerHTML =   "<li class='fa'><img src='static/assets/images/pause1.png' height='65px'></li>";
     document.getElementById("bgvid").style.display = "block";

  } else {
    vid.pause();
    pauseButton.innerHTML =  "<li class='fa'><img src='static/assets/images/play1.png' height='65px'></li>";
    document.getElementById("play-hide").style.display = "block";
    
  }
})


// counter section js
	$.fn.jQuerySimpleCounter = function( options ) {
	    var settings = $.extend({
	        start:  0,
	        end:    100,
	        easing: 'swing',
	        duration: 400,
	        complete: ''
	    }, options );

	    var thisElement = $(this);
	    $({count: settings.start}).animate({count: settings.end}, {
			duration: settings.duration,
			easing: settings.easing,
			step: function() {
				var mathCount = Math.ceil(this.count);
				thisElement.text(mathCount);
			},
			complete: settings.complete
		});
	};
$('#number1').jQuerySimpleCounter({end: 1200,duration: 4000});
$('#number2').jQuerySimpleCounter({end: 347,duration: 4000});
$('#number3').jQuerySimpleCounter({end: 75,duration: 4000});
$('#number4').jQuerySimpleCounter({end: 246,duration: 4000});
  	/* AUTHOR LINK */
     $('.about-me-img').hover(function(){
            $('.authorWindowWrapper').stop().fadeIn('fast').find('p').addClass('trans');
        }, function(){
            $('.authorWindowWrapper').stop().fadeOut('fast').find('p').removeClass('trans');
        });
  
</script>
<script type="text/javascript">
	$.fn.responsiveTabs = function() {

  return this.each(function() {
    var el = $(this),
        tabs = el.find('dt'),
        content = el.find('dd'),
        placeholder = $('<div class="responsive-tabs-placeholder"></div>').insertAfter(el);

    tabs.on('click', function() {
      var tab = $(this);

      tabs.not(tab).removeClass('active');
      tab.addClass('active');

      placeholder.html( tab.next().html() );
    });

    tabs.filter(':first').trigger('click');
  });

}


$('.responsive-tabs').responsiveTabs();
</script>
<script type="text/javascript">
	$(document).ready(function() {
    $("#news-slider").owlCarousel({
        items : 5,
        itemsDesktop:[1199,3],
        itemsDesktopSmall:[980,2],
        itemsMobile : [600,1],
        navigation:true,
        navigationText:["",""],
        pagination:true,
        autoPlay:true
    });
});
</script>
<script type="text/javascript">
	$(document).ready(function() {
    $("#news-slider12").owlCarousel({
        items : 4,
        itemsDesktop:[1199,2],
        itemsDesktopSmall:[980,2],
        itemsTablet:[650,1],
        pagination:false,
        navigation:true,
        navigationText:["",""]
    });
});
	$(document).ready(function() {
    $("#news-slider13").owlCarousel({
        items : 5,
        itemsDesktop:[1199,2],
        itemsDesktopSmall:[980,2],
        itemsTablet:[650,1],
        pagination:false,
        navigation:true,
        navigationText:["",""]
    });
});
</script>