{% load static %}
<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>MSD Publications</title>
  
  <meta name="author" content="Sridher Goud Thodeti">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" href="{% static '/assets/images/favicon.png' %}" type="image/gif" sizes="16x16">
  <link rel="stylesheet" type="text/css" href="{% static '/assets/css/menu.css' %}">
  <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/assets/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <script type="text/javascript" src="{% static '/assets/webslidemenu/webslidemenu.js' %}"></script>
  <link rel="stylesheet" href="{% static '/assets/webslidemenu/demo.css' %}" />
   <!--Main Menu File-->
  <link rel="stylesheet" href="{% static '/assets/css/style.css' %}" />
<link rel="stylesheet" href="{% static '/assets/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/owl.theme.min.css' %}">
</head>
<body>
  <!-- <div id="preloader" style="background-color: #1e4e98;">
        <div class="classy-load ">
          <img src="assets/images/svs-icon.png" height="120px">
        </div>
    </div> -->
  <!-- Mobile Header -->
<!--   <div class="wsmobileheader clearfix">
    <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
    <span class="smllogo logo-mbl"><img src="assets/images/logo2.png"  alt="" /></span>
    <div class="wssearch clearfix">
      <i class="wsopensearch fas fa-search"></i>
      <i class="wsclosesearch fas fa-times"></i>
      <div class="wssearchform clearfix">
        <form>
          <input type="text" placeholder="Search Here">
        </form>
      </div>
    </div>
  </div> -->
  <!-- Mobile Header -->
  <div class="headtoppart clearfix">
    <div class="container">
    <div class="upper-right pull-right">
                        <!--Info Box-->
                        <div class="upper-column info-box">
                          <div class="icon-box"><span class="fas fa-envelope"></span>msdpublications@gmail.com</div>
                        </div>
                        <!--Info Box-->
                        <div class="upper-column info-box">
                          <div class="icon-box"><span class="fas fa-phone"></span>+91-98765 43210</div>
                        </div>
            
            <!--Info Box-->
                        <div class="upper-column info-box">
                          <div class="icon-box"><span class="fas fa-map-marker-alt"></span>Hyderabad </div>
                        </div>
                    </div>
                </div>
  </div>
 <!--  navbar section start -->
<header class="header_area">
  <div class="main_header_area animated">
    <div class="container">
      <nav id="navigation1" class="navigation">
        <!-- Logo Area Start -->
        <div class="nav-header">
          <a class="nav-brand" href="home">
            <img src="{% static 'assets/images/logo.png' %}">
          </a>
          <div class="nav-toggle"></div>
        </div>
        <!-- Search panel Start -->
     <!--    <div class="nav-search">
          <div class="nav-search-button">
            <i class="nav-search-icon"></i>
          </div>
          <form>
            <div class="nav-search-inner">
              <input type="search" name="search" placeholder="Type Your Keywords">
            </div>
          </form>
        </div> -->
        <!-- Main Menus Wrapper -->
        <div class="nav-menus-wrapper">
          <ul class="nav-menu align-to-right">
             <li><a href="home">Home</a></li>
            <li><a href="publications">All Publications</a> </li>
              <li><a href="about_open">Open Access</a></li>
            <li><a href="ebooks">E-Books</a> </li>
            <li><a href="submit_articles">Submit Article</a> </li>
               <li><a href="#">Best Practices</a>
              <div class="megamenu-panel">
                <div class="megamenu-lists">
                  <ul class="megamenu-list list-col-4">
                      <li class="title ba-font-ff">Guidelines &amp; Information</li>
                      <li><a href="company_information">Company Information</a></li>
                      <li><a href="author_guidelines">Author Guidelines</a></li>
                      <li><a href="editor_guidelines">Editor Guidelines</a></li>
                      <li><a href="reviewer_guidelines">Reviewer Guidelines</a></li>
                      <li><a href="peer_review">Peer Review Guidelines</a></li>
                      <li><a href="special_issue">Special Issue Guidelines</a></li>
                      <li><a href="article_processing">Article Processing Charges</a></li>
                   
                  </ul>
                  <ul class="megamenu-list list-col-4">
                  <li class="title ba-font-ff">Policies &amp; Ethics</li>
                      <li><a href="indexing">Indexing</a></li>
                      <li><a href="benefits">Benefits for Authors</a></li>
                      <li><a href="publication_ethics">Publication Ethics</a></li>
                      <li><a href="about_open">About Open Access</a></li>
                      <li><a href="about_peer">About Peer review</a></li>
                  </ul>
                  <ul class="megamenu-list list-col-4">
                     <li class="title ba-font-ff">Initiatives</li>
                      <li><a href="collaborations">Collaborations</a></li>
                      <li><a href="reprints">Reprints and Permissions</a></li>
                      <li><a href="membership">Membership Program</a></li>
                  </ul>
                  <ul class="megamenu-list list-col-4">
                     <li class="title ba-font-ff">Help &amp; Info</li>
                      <li><a href="faqs">Frequently Asked Questions</a></li>
                      <li><a href="contact">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </li>
            
            <li><a href="signin">Signin/Signup</a></li>
             <!-- <li class="donate-btn"><a href="#">Donate</a></li> -->
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
 <!-- navbar section close -->
  <!-- <header> -->
    <!-- videos section start -->
  <div id="video-sec">
<video poster="{% static 'assets/images/hm-banner.jpg' %}" id="bgvid" playsinline   loop class="" width="100%">
<!-- <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm"> -->
<source src="{% static 'assets/videos/msd.mp4' %}" type="video/mp4">

</video>
<div id="polina">
  <button class="control play">
    <img src="{% static 'assets/images/play1.png' %}" height="65px;">
 <!--  <span class="left"></span><span class="right"></span> -->
</button>

<h2 id="play-hide"> 
<!-- WATCH OUR VIDEO -->
<br>
<!-- DELIVERING HEALTH CARE AND EDUCATION TO THE UNDER-SERVED WITH CARE, COMPASSION AND COMMITMENT -->
</h2>

<!-- <button>Pause</button> -->
</div>
</div>
<!-- close video section -->
<!-- </header> -->
<div id="white-color-bg">
<!-- about company section start -->
<section class="about py-5" id="about">
  <div class="container py-lg-5 py-sm-3">
    <div class="row">
      <div class="col-md-3">  
        <h4>Welcome To</h4>
         <h3 class="title-w3pvt"><b><span class="orange-clr">MSD</span> <span class="green-clr">PUBLICATIONS</span></b></h3>
         
        </div>
        <div class="col-md-6 quote">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
           consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
           cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
           proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br>
           <a href="company_information" class="read-mr">Read More</a><br><br>
        <!--  <p>The Join for Development Foundation (JD) was set up with the primary aim of bringing a change in the lives of the people and with a secondary theme of creating a platform to connect those in need with those who can contribute apart from identifying and highlighting possible development models. And since the life force behind this initiative is a retired CBI Officer, you can be sure that this initiative, has integrity at every level.</p>
        
        <p class="">We are on this planet only for a limited period of time. And each of us want to make it a joyful and happy time. With changing times, access to resources is getting skewed with some having more and some other left with little. The gap is growing leading to imbalances. So somewhere, it is our responsibility to help bridge this rather embarrassing gap between the rich and those with little. . We at the MSD Publications, believe that all of us can help in some way, an IT Professional can help leverage technology, a businessman can spare finances and a Social Worker can volunteer their time. We all can do something. And it is this idea alone, that gave birth to what is now the join for development ( JD) Foundation.</p> -->
        </div>
  
      
      <div class="col-md-3 about-img">
        <img src="{% static 'assets/images/open-access1.png' %}" alt="" class="" width="100%;">
      </div>
    </div>
  </div>
</section>
<!-- about company section close -->
<!-- tabs section start -->
<div id="tabs-sections">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
<dl class="responsive-tabs">
  <dt>Science</dt>
  <dd>
      <img src="{% static 'assets/images/engineering.png' %}">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio non elit tincidunt placerat. Donec quis dolor eleifend, venenatis urna nec, feugiat purus. Morbi dapibus leo lorem, vel tempor quam euismod ac.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio non elit tincidunt placerat. Donec quis dolor eleifend, venenatis urna nec, feugiat purus. Morbi dapibus leo lorem, vel tempor quam euismod ac. </p><br>
       <a href="publications" class="read-mr">View All Journal</a>
  </dd>

  <dt>Technology</dt>
  <dd>
     <img src="{% static 'assets/images/engineering.png' %}">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio non elit tincidunt placerat. Donec quis dolor eleifend, venenatis urna nec, feugiat purus. Morbi dapibus leo lorem, vel tempor quam euismod ac. Pellentesque elementum ac ante ut gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio non elit tincidunt placerat. Donec quis dolor eleifend, venenatis urna nec, feugiat purus. Morbi dapibus leo lorem, vel tempor quam euismod ac.</p><br>
      <a href="publications" class="read-mr">View All Journal</a>
  </dd>

  <dt>Engineering</dt>
  <dd>
      <img src="{% static 'assets/images/engineering.png' %}">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio non elit tincidunt placerat. Donec quis dolor eleifend, venenatis urna nec, feugiat purus. Morbi dapibus leo lorem, vel tempor quam euismod ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio non elit tincidunt placerat. Donec quis dolor eleifend, venenatis urna nec, feugiat purus. Morbi dapibus leo lorem, vel tempor quam euismod ac.</p><br>
       <a href="publications" class="read-mr">View All Journal</a>
  </dd>

  <dt>Mathematics</dt>
  <dd>
       <img src="{% static 'assets/images/engineering.png' %}">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio non elit tincidunt placerat. Donec quis dolor eleifend, venenatis urna nec, feugiat purus. Morbi dapibus leo lorem, vel tempor quam euismod ac. Pellentesque elementum ac ante ut gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel odio non elit tincidunt placerat. Donec quis dolor eleifend, venenatis urna nec, feugiat purus. Morbi dapibus leo lorem, vel tempor quam euismod ac.</p><br>
       <a href="publications" class="read-mr">View All Journal</a>
  </dd>
</dl>
</div>
</div>
</div>
</div><br>
<!-- tabs section close -->
<!-- recently used issues strat  -->
<div id="recently-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <h3 class="title-w3pvt text-center"><b><span class="orange-clr">Recently </span> <span class="green-clr">Released Issues</span></b></h3><br>
      </div>
        <div class="col-md-12">

            <div id="news-slider" class="owl-carousel">
                <div class="post-slide">
                    <img src="{% static 'assets/images/emerging-issue.jpg' %}" alt="">
                    <div class="post-date">
                        <span class="month">March</span>
                        <span class="date">2019</span>
                    </div>
                    <a href="current_issue" class="read-more">Emerging Rare Diseas</a>
                </div>
                <div class="post-slide">
                    <img src="{% static 'assets/images/cancer-issue.jpg' %}" alt="">
                    <div class="post-date">
                        <span class="month">April</span>
                        <span class="date">2019</span>
                    </div>
                    <a href="current_issue" class="read-more">Cancer</a>
                </div>
                    <div class="post-slide">
                    <img src="{% static 'assets/images/cancer-issue.jpg' %}" alt="">
                    <div class="post-date">
                        <span class="month">July</span>
                        <span class="date">2019</span>
                    </div>
                    <a href="current_issue" class="read-more">Cancer</a>
                </div>
                    <div class="post-slide">
                    <img src="{% static 'assets/images/dentistry-issue.jpg' %}" alt="">
                    <div class="post-date">
                        <span class="month">Sep</span>
                        <span class="date">2019</span>
                    </div>
                    <a href="current_issue" class="read-more">Dentistry</a>
                </div>
                    <div class="post-slide">
                    <img src="{% static 'assets/images/water-technology-issue.jpg' %}" alt="">
                    <div class="post-date">
                        <span class="month">Nov</span>
                        <span class="date">2019</span>
                    </div>
                    <a href="current_issue" class="read-more">Water Technology</a>
                </div>
                    <div class="post-slide">
                    <img src="{% static 'assets/images/cancer-issue.jpg' %}" alt="">
                    <div class="post-date">
                        <span class="month">Nov</span>
                        <span class="date">2019</span>
                    </div>
                    <a href="current_issue" class="read-more">Cancer</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- recently used issues close -->

<section class="section">
  <div class="container">
    <div class="row rpa">
      <div class="col-md-12">
         <h3 class="title-w3pvt text-center"><b><span class="orange-clr">Recently </span> <span class="green-clr">Published Articles</span></b></h3><br>
      </div>
  
      <div class="col-md-6 col-lg-4 h-100 mb-4">
        <div class="rpa_box">
          <div class="rpa-img-bx">
        <a href="#"><img class="rpa_big_img" src="{% static 'assets/images/bio1.jpg' %}" alt=""></a>
    </div>
       <div class="rev_title">Review Article</div>
        <div class="rpa_border rpa_border_top_0">
          <h3 class="ba_sub_title"><a href="current_issuse_fulltext">Uveal Melanoma: an Updated Review
</a></h3>
          <p>This article reviews the epidemiology, pathophysiology, and treatment of uveal melanoma. Emphasis is placed on ... </p>
          <a class="text-dark" href="current_issuse_fulltext">Read more &gt;</a><a href="assets/pdfs/premeltons-in-dna.pdf" class="ba_right" target="_blank">PDF</a>
          <hr>
          <div class="rpa_div_footer">
            <div class="rpa_media"><a href="#!"><img class="rounded-circle" src="{% static 'assets/images/university.svg' %}" width="40" alt=""></a>
              <div class="rpa_media_body">
                <h6 class="j_author">Steven Koevary</h6>
                <p class="j_uc mt8 pt0">Disease New England College of Optometry Boston, USA</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-6 col-lg-4 h-100 mb-4">
        <div class="rpa_box">
            <div class="rpa-img-bx">
        <a href="#"><img class="rpa_big_img" src="{% static 'assets/images/bio3.jpg' %}" alt=""></a>
    </div>
       <div class="rev_title">Review Article</div>
        <div class="rpa_border rpa_border_top_0">
          <h3 class="ba_sub_title"><a href="current_issuse_fulltext">Taste Masking Approaches for Unpleasant Taste Drugs</a></h3>
          <p>Improving patient compliance with significant therapeutic value is highly important to be in concern ...</p>
          <a class="text-dark" href="current_issuse_fulltext">Read more &gt;</a><a href="static/assets/pdfs/premeltons-in-dna.pdf" class="ba_right" target="_blank">PDF</a>
          <hr>
          <div class="rpa_div_footer">
            <div class="rpa_media"><a href="#!"><img class="rounded-circle" src="static/assets/images/university.svg" width="40" alt=""></a>
              <div class="rpa_media_body">
                <h6 class="j_author">Aliasgar Shahiwala</h6>
                <p class="j_uc mt8 pt0">Dubai Pharmacy College for Girls,<br> United Arab Emirates</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-6 col-lg-4 h-100 mb-4">
        <div class="rpa_box">
            <div class="rpa-img-bx">
        <a href="#"><img class="rpa_big_img" src="static/assets/images/bio1.jpg" alt=""></a>
    </div>
       <div class="rev_title">Review Article</div>
        <div class="rpa_border rpa_border_top_0">
          <h3 class="ba_sub_title"><a href="current_issuse_fulltext">Directors of Veterinary Services in the Anglo-Egyptian...</a></h3>
          <p>Joshua Timothy Richard Evans was born in South Wales on 3 September 1907. He graduated with a Bachelor of Science ...</p>
           <a class="text-dark" href="current_issuse_fulltext">Read more &gt;</a><a href="static/assets/pdfs/premeltons-in-dna.pdf" class="ba_right" target="_blank">PDF</a>
          <hr>
          <div class="rpa_div_footer">
            <div class="rpa_media"><a href="#"><img class="rounded-circle" src="static/assets/images/university.svg" width="40" alt=""></a>
              <div class="rpa_media_body">
                <h6 class="j_author">R Trevor Wilson</h6>
                <p class="j_uc mt8 pt0">Bartridge House, Umberleigh EX37 9AS, UK</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-6 col-lg-4 h-100 mb-4">
        <div class="rpa_box">
            <div class="rpa-img-bx">
        <a href="#"><img class="rpa_big_img" src="static/assets/images/bio3.jpg" alt=""></a>
    </div>
       <div class="rev_title">Research Article</div>
        <div class="rpa_border rpa_border_top_0">
          <h3 class="ba_sub_title"><a href="current_issuse_fulltext">High-Strength Porcelain Veneering of Zirconia Prosthetic Mimetic ...</a></h3>
          <p>Esthetic prosthetic restorations, with natural reflection, color from within and color gradients influenced by the ...</p>
          <a class="text-dark" href="current_issuse_fulltext">Read more &gt;</a><a href="static/assets/pdfs/premeltons-in-dna.pdf" class="ba_right" target="_blank">PDF</a>
          <hr>
          <div class="rpa_div_footer">
            <div class="rpa_media"><a href="#"><img class="rounded-circle" src="static/assets/images/university.svg" width="40" alt=""></a>
              <div class="rpa_media_body">
                <h6 class="j_author">Van der Zel JM</h6>
                <p class="j_uc mt8 pt0">University of Amsterdam,<br>Netherlands</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-6 col-lg-4 h-100 mb-4">
        <div class="rpa_box">
            <div class="rpa-img-bx">
        <a href="current_issuse_fulltext"><img class="rpa_big_img" src="static/assets/images/bio1.jpg" alt=""></a>
    </div>
       <div class="rev_title">Research Article</div>
        <div class="rpa_border rpa_border_top_0">
          <h3 class="ba_sub_title"><a href="current_issuse_fulltext">Screen Time Effects</a></h3>
          <p>Electronic device use that inundates our society involves screen use affects. The frequent use of smartphones, ...</p>
           <a class="text-dark" href="current_issuse_fulltext">Read more &gt;</a><a href="static/assets/pdfs/premeltons-in-dna.pdf" class="ba_right" target="_blank">PDF</a>
          <hr>
          <div class="rpa_div_footer">
            <div class="rpa_media"><a href="#!"><img class="rounded-circle" src="static/assets/images/university.svg" width="40" alt=""></a>
              <div class="rpa_media_body">
                <h6 class="j_author">Kathy Sexton-Radek</h6>
                <p class="j_uc mt8 pt0">Elmhurst College,<br>USA</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-6 col-lg-4 h-100 mb-4">
        <div class="rpa_box">
            <div class="rpa-img-bx">
        <a href="#"><img class="rpa_big_img" src="static/assets/images/bio1.jpg" alt=""></a>
    </div>
       <div class="rev_title">Research Article</div>
        <div class="rpa_border rpa_border_top_0">
          <h3 class="ba_sub_title"><a href="current_issuse_fulltext">The Preliminary Studies of the Phase and Chemical Composition of ...</a></h3>
          <p>This work presents the analysis results of ashes formed in the combustion of hard coal and wood biomass (birch) in ...</p>
          <a class="text-dark" href="current_issuse_fulltext">Read more &gt;</a><a href="static/assets/pdfs/premeltons-in-dna.pdf" class="ba_right" target="_blank">PDF</a>
          <hr>
          <div class="rpa_div_footer">
            <div class="rpa_media"><a href="#"><img class="rounded-circle" src="static/assets/images/university.svg" width="40" alt=""></a>
              <div class="rpa_media_body">
                <h6 class="j_author">Danuta Smolka-Danielowska</h6>
                <p class="j_uc mt8 pt0">University of Silesi,<br>Poland</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div><br>
  <div class="col-md-12 text-center stem_tab_view"><a href="articles" class="read-mr">More Published Articles</a></div><br>
</section><br><br>
<!-- Abstract section start-->
<!--journals section start -->
<div id="abstract-sect">
<div class="container">
    <div class="row">
      <div class="col-md-12"><br>
         <h3 class="title-w3pvt text-center"><b><span class="orange-clr">Abstracting </span> <span class="green-clr" style="color: #fff;">  and Indexing</span></b></h3><br>
      </div>
        <div class="col-md-12">
            <div id="news-slider13" class="owl-carousel">
                <div class="post-slide">
                   <img src="static/assets/images/indexing1.jpg">
                </div>
 
                  <div class="post-slide">
                   <img src="static/assets/images/indexing22.jpg">
                </div> 
                <div class="post-slide">
                   <img src="static/assets/images/indexing3.jpg">
                </div> 
                <div class="post-slide">
                   <img src="static/assets/images/indexing4.jpg">
                </div> 
                <div class="post-slide">
                   <img src="static/assets/images/indexing1.jpg">
                </div> 
                <div class="post-slide">
                   <img src="static/assets/images/indexing22.jpg">
                </div> 
                <div class="post-slide">
                   <img src="static/assets/images/indexing3.jpg">
                </div>     
        </div>
    </div>
</div>
</div>
</div>
<!-- Abstract section close -->
<!-- retraction section start --->
<div id="retric-sec">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="retric-bx1">
          <h4><b>Msd Publications use Crossref Similarity Check for averting plagiarism</b></h4>
          <img src="static/assets/images/similaritycheck.jpg" width="290px">
        </div>
      </div>
        <div class="col-sm-8">
        <div class="retric-bx2">
        <h3 class="title title-medium" style=""><b>Retractions</b></h3>
                    
                    <p class="text1" style="">MSD Publications is committed to maintaining the integrity of the scholarly record to researchers.  Therefore violation of professional ethical codes may lead to retract articles. Article(s) may be retracted if it is found to have serious flaws, reported misconduct research, constitute copyright infringement and plagiarism.<br>
                    To help avoid the incorrect or misleading publications, <br>please drop us your email to <a href="#">msdpublications@gmail.com</a></p>
                              
        </div>
      </div>

    </div>
  </div>
</div>
<!-- retraction section close --->
<!--  idea box section start -->
<div id="idea-section">
  <div class="ideav-box idea1">
    <div class="idea-cnt ">
    <h1>MSD Publications INITIATIVES</h1>
    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>
    
  </div>
  </div>
  <div class="ideav-box idea2">
    <div class="idea-cnt">
    <h1>Feedback</h1>
    <p class="">We openly welcome feedback and constructive criticism. Your compliments, concerns and suggestions regarding our services will prove enormously helpful in making them even better.</p>
    <p>Do you have an idea or suggestion that can influence the Open Access community? Send an email to: <a href="#">msdpublications@gmail.com</a></p>
    <!-- <br><a href="#" class="read-mr">Read More</a> -->
  </div>
  </div>
</div>
<!-- idea box section close -->
<!--journals section start -->
<div id="journals-sect">
<div class="container">
    <div class="row">
      <div class="col-md-12"><br>
         <h3 class="title-w3pvt text-center"><b><span class="orange-clr">Open </span> <span class="green-clr"> Access Journals</span></b></h3><br>
      </div>
        <div class="col-md-12">
            <div id="news-slider12" class="owl-carousel">
                <div class="post-slide">
                      <div class="default-portfolio-item">
                  <div class="inner-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <figure class="image-box"><img src="static/assets/images/journal-of-psychiatric-studies.jpg" alt=""></figure>
                        <h3 class="title"><a href="about_journal">Journal of Anesthesia and Perioperative Care</a></h3>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="content">
                                   <h3><a href="about_journal">View Journal</a></h3>
                                  <ul class="jour-brd">
              <li><a href="editorial_board">Editorial Board</a></li>
              <li><a href="current_issue">Current Issue</a></li>
              <li><a href="archive">Archive</a></li>
              <li><a href="submit-articles">Submit Manuscript</a></li>
              <li><a href="indexing">Indexing</a></li>
                          </ul>
                <div class="auth-prf-b">
                  <div class="author_img-b">
                <img src="static/assets/images/small-prf.png">
              </div>
              <div class="author_name-b" style="font-size: 12px;">Abdullah M. Iliyasu (aka Abdul M. Elias)<br>Tokyo Institute of Technology<br>Japan</div>
                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
 
                  <div class="post-slide">
                      <div class="default-portfolio-item">
                  <div class="inner-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <figure class="image-box"><img src="static/assets/images/clinical-hiv-and-aids-journal.jpg" alt=""></figure>
                        <h3 class="title"><a href="about_journal">Journal of Anesthesia and Perioperative Care</a></h3>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="content">
                                   <h3><a href="about_journal">View Journal</a></h3>
                                  <ul class="jour-brd">
              <li><a href="editorial_board">Editorial Board</a></li>
              <li><a href="current_issue">Current Issue</a></li>
              <li><a href="archive">Archive</a></li>
              <li><a href="submit_articles">Submit Manuscript</a></li>
              <li><a href="indexing">Indexing</a></li>
                          </ul>
                <div class="auth-prf-b">
                  <div class="author_img-b">
                <img src="static/assets/images/small-prf.png">
              </div>
              <div class="author_name-b" style="font-size: 12px;">Abdullah M. Iliyasu (aka Abdul M. Elias)<br>Tokyo Institute of Technology<br>Japan</div>
                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                     <div class="post-slide">
                      <div class="default-portfolio-item">
                  <div class="inner-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <figure class="image-box"><img src="static/assets/images/journal-of-urinary-tract-infections.jpg" alt=""></figure>
                        <h3 class="title"><a href="about_journal">Journal of Anesthesia and Perioperative Care</a></h3>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="content">
                                 <h3><a href="about_journal">View Journal</a></h3>
                                  <ul class="jour-brd">
              <li><a href="editorial_board">Editorial Board</a></li>
              <li><a href="current_issue">Current Issue</a></li>
              <li><a href="archive">Archive</a></li>
              <li><a href="submit_articles">Submit Manuscript</a></li>
              <li><a href="indexing">Indexing</a></li>
                          </ul>
                <div class="auth-prf-b">
                  <div class="author_img-b">
                <img src="static/assets/images/small-prf.png">
              </div>
              <div class="author_name-b" style="font-size: 12px;">Abdullah M. Iliyasu (aka Abdul M. Elias)<br>Tokyo Institute of Technology<br>Japan</div>
                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                     <div class="post-slide">
                      <div class="default-portfolio-item">
                  <div class="inner-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <figure class="image-box"><img src="static/assets/images/journal-of-obesity-and-medical-complications.jpg" alt=""></figure>
                        <h3 class="title"><a href="about_journal">Journal of Anesthesia and Perioperative Care</a></h3>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="content">
                                 <h3><a href="about_journal">View Journal</a></h3>
                                  <ul class="jour-brd">
              <li><a href="editorial_board">Editorial Board</a></li>
              <li><a href="current_issue">Current Issue</a></li>
              <li><a href="archive">Archive</a></li>
              <li><a href="submit_articles">Submit Manuscript</a></li>
              <li><a href="indexing">Indexing</a></li>
                          </ul>
                <div class="auth-prf-b">
                  <div class="author_img-b">
                <img src="static/assets/images/small-prf.png">
              </div>
              <div class="author_name-b" style="font-size: 12px;">Abdullah M. Iliyasu (aka Abdul M. Elias)<br>Tokyo Institute of Technology<br>Japan</div>
                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                     <div class="post-slide">
                      <div class="default-portfolio-item">
                  <div class="inner-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <figure class="image-box"><img src="static/assets/images/clinical-hiv-and-aids-journal.jpg" alt=""></figure>
                        <h3 class="title"><a href="about_journal">Journal of Anesthesia and Perioperative Care</a></h3>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="content">
                                 <h3><a href="about_journal">View Journal</a></h3>
                                  <ul class="jour-brd">
              <li><a href="editorial_board">Editorial Board</a></li>
              <li><a href="current_issue">Current Issue</a></li>
              <li><a href="archive">Archive</a></li>
              <li><a href="submit_articles">Submit Manuscript</a></li>
              <li><a href="indexing">Indexing</a></li>
                          </ul>
                <div class="auth-prf-b">
                  <div class="author_img-b">
                <img src="static/assets/images/small-prf.png">
              </div>
              <div class="author_name-b" style="font-size: 12px;">Abdullah M. Iliyasu (aka Abdul M. Elias)<br>Tokyo Institute of Technology<br>Japan</div>
                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                     <div class="post-slide">
                      <div class="default-portfolio-item">
                  <div class="inner-box wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <figure class="image-box"><img src="static/assets/images/journal-of-urinary-tract-infections.jpg" alt=""></figure>
                       <h3 class="title"><a href="about_journal">Journal of Anesthesia and Perioperative Care</a></h3>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="content">
                                <h3><a href="about_journal">View Journal</a></h3>
                                  <ul class="jour-brd">
              <li><a href="editorial_board">Editorial Board</a></li>
              <li><a href="current_issue">Current Issue</a></li>
              <li><a href="archive">Archive</a></li>
              <li><a href="submit_articles">Submit Manuscript</a></li>
              <li><a href="indexing">Indexing</a></li>
                          </ul>
                <div class="auth-prf-b">
                  <div class="author_img-b">
                <img src="static/assets/images/small-prf.png">
              </div>
              <div class="author_name-b" style="font-size: 12px;">Abdullah M. Iliyasu (aka Abdul M. Elias)<br>Tokyo Institute of Technology<br>Japan</div>
                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- journals section close -->
<!-- footer section start -->
<footer class="footer-top">
            <div class="container">
               <div class="row">   
                   <div class="col-md-3">
                       <h3>+91-98765 43210</h3>
                   </div>
                    <div class="col-md-3">
                       <h3><a href="#" target="_blank">msdpublications@gmail.com</a></h3>
                   </div>
                   <div class="col-md-3">
                       <h3><a href="#">

Hyderabad</a></h3>
                   </div>
                  
                   <div class="col-md-3">
                       <h3>24x7x365</h3>
                   </div>
               </div>                
            </div>
        </footer>
        <footer class="footer-center">
            <div class="container">
             
                <div class="row">   
                   <div class="col-md-3 item-center">
                        <span class="arrow_footer"></span>
                        <i class="fa fa-phone"></i>
                        <h4>Talk to Us</h4>                        
                   </div>
                    <div class="col-md-3 item-center">
                       <span class="arrow_footer"></span>
                        <i class="fa fa-envelope"></i>
                        <h4>Email Us</h4>                        
                   </div>
                   <div class="col-md-3 item-center">
                        <span class="arrow_footer"></span>
                        <i class="fa fa-map-marker-alt"></i>
                        <h4>Location</h4>                        
                   </div>
                  
                   <div class="col-md-3 item-center">
                        <span class="arrow_footer"></span>
                        <i class="fa fa-thumbs-up"></i>
                        <h4>Good Support</h4>                        
                   </div>
                </div>   
               
                <div class="row">
                    <div class="col-md-12">
                        <div class="top"></div>
                    </div>
                </div> 
               
                <div class="row">  
                   
                    <div class="col-md-3">
                        <div class="border-right">
                            <img src="static/assets/images/logo.png" height="100px;" >  

                            </div>                        
                        </div>
                
                    <div class="col-md-3">
                        <div class="border-right">
                            <h4>Useful Links</h4>
                           <ul class="links">
                              <li><a href="home" >Home</a></li>
    <li><a href="company_information">Company Information</a></li>
    <li><a href="publications">Publications</a></li>
     <li><a href="ebooks">E-Books</a></li> 
      <li><a href="submit_articles">Submit Article</a> </li>   
                            </ul>
                       </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="border-right">
                            <h4>Useful Links</h4>
                            <ul class="links">
                <li><a href="collaborations">Collaborations</a></li>
                      <li><a href="reprints">Reprints and Permissions</a></li>
                      <li><a href="membership">Membership Program</a></li>
                      <li><a href="faqs">Frequently Asked Questions</a></li>
                      <li><a href="contact">Contact Us</a></li>
                            </ul>
                       </div>
                    </div>
                    
                    <div class="col-md-3">
                        <h4>Follow Us</h4>
                       <div id="social"><a class="facebookBtn smGlobalBtn" href="#"></a>
      <a class="twitterBtn smGlobalBtn" href="#"></a>
      <a class="googleplusBtn smGlobalBtn" href="#"></a>
      <a class="linkedinBtn smGlobalBtn" href="#"></a>
    </div>
                    </div>
                </div>    
            </div>
        </footer>
        <footer class="footer-bottom">
          <div class="container">
<div class="row">
<div class="col-md-6 col-sm-6 copyright wow slideInUp">
<p> © 2019 MSD Publications. All Rights Reserved.
</p>
</div>
<div class="col-md-6 col-sm-6 design wow slideInUp">
<p>Designed By  <a href="http://www.angularwebs.com/" target="_blank"> Angular Webs</a></p>
</div>
</div>
</div>
        </footer>

<!-- footer section close -->
<!-- <div id="stop" class="scrollTop">
     <div class='scroll icon'><i class="fa fa-2x fa-angle-up"></i></div>
    <span><a href="">Top</a></span>
  </div> -->
<!--<div class='scrolltop'>-->
<!--    <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>-->
<!--</div>-->
</div>
</body>
</html>

   <script src="static/assets/js/jquery.min.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>
<script src="static/assets/js/nav_menu.js" type="text/javascript"></script>
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script> -->
<script type="text/javascript" src="static/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script> -->
 <!--   <script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script> -->
<!-- <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script> -->
<script type="text/javascript">
 $(document).ready(function() {    
    //Events that reset and restart the timer animation when the slides change
    $("#transition-timer-carousel").on("slide.bs.carousel", function(event) {
        //The animate class gets removed so that it jumps straight back to 0%
        $(".transition-timer-carousel-progress-bar", this)
            .removeClass("animate").css("width", "0%");
    }).on("slid.bs.carousel", function(event) {
        //The slide transition finished, so re-add the animate class so that
        //the timer bar takes time to fill up
        $(".transition-timer-carousel-progress-bar", this)
            .addClass("animate").css("width", "100%");
    });
    
    //Kick off the initial slide animation when the document is ready
    $(".transition-timer-carousel-progress-bar", "#transition-timer-carousel")
        .css("width", "100%");
});
</script>

<script type="text/javascript">
   $(window).on('scroll', function () {
if ($(this).scrollTop() > 250) { // Set position from top
    $('.header_area').addClass("page-scroll");
}else{
    $('.header_area').removeClass("page-scroll");
}
});
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#testimonial-slider").owlCarousel({
        items:3,
        itemsDesktop:[1000,3],
        itemsDesktopSmall:[979,3],
        itemsTablet:[768,1],
        pagination:true,
        navigation:false,
        slideSpeed:1000,
        autoPlay:true
    });
});
</script>
<!-- <script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 6000
    })
  });

</script> -->
<script type="text/javascript">
  $('.js-anchor-link').click(function(e){
  e.preventDefault();
  var target = $($(this).attr('href'));
  if(target.length){
    var scrollTo = target.offset().top;
    $('body, html').animate({scrollTop: scrollTo+'px'}, 800);
  }
});
</script>
<script type="text/javascript">
//   $('.Show').click(function() {
//     $('#target').show(500);
//     $('.Show').hide(0);
//     $('.Hide').show(0);
//      $("#plus").text("-");
// });
// $('.Hide').click(function() {
//     $('#target').hide(500);
//     $('.Show').show(0);
//     $('.Hide').hide(0);
// });
$('.div-s-h').click(function() {
    $('.show-hide-div').toggle('slow');
});

$(function() {
  $('.plus-minus-toggle').on('click', function() {
    $(this).toggleClass('collapsed');
  });
});
</script>
<script>
    // BY KAREN GRIGORYAN

$(document).ready(function() {
  /******************************
      BOTTOM SCROLL TOP BUTTON
   ******************************/

  // declare variable
  var scrollTop = $(".scrollTop");

  $(window).scroll(function() {
    // declare variable
    var topPos = $(this).scrollTop();

    // if user scrolls down - show scroll to top button
    if (topPos > 200) {
      $(scrollTop).css("opacity", "1");

    } else {
      $(scrollTop).css("opacity", "0");
    }

  }); // scroll END

  //Click event to scroll to top
  $(scrollTop).click(function() {
    $('html, body').animate({
      scrollTop: 0
    }, 800);
    return false;

  }); // click() scroll top EMD

 
}); // ready() END
</script>
<script type="text/javascript">
  $(document).ready(function ()
{
  //Fade in delay for the background overlay (control timing here)
  $("#bkgOverlay").delay(4800).fadeIn(400);
  //Fade in delay for the popup (control timing here)
  $("#delayedPopup").delay(5000).fadeIn(400);
  
  //Hide dialouge and background when the user clicks the close button
  $("#btnClose").click(function (e)
  {
    HideDialog();
    e.preventDefault();
  });
});
//Controls how the modal popup is closed with the close button
function HideDialog()
{
  $("#bkgOverlay").fadeOut(400);
  $("#delayedPopup").fadeOut(300);
}

</script>
<script type="text/javascript">
  var video = document.getElementById("myVideo");
  var btn = document.getElementById("myBtn");

  function myFunction() {
    if (video.paused) {
      video.play();
      btn.innerHTML = "Pause";
    } else {
      video.pause();
      btn.innerHTML = "Play";
    }
  }

  function myFunction(x) {
  x.classList.toggle("gn-selected");
}

  var vid = document.getElementById("bgvid");
var pauseButton = document.querySelector("#polina button");

if (window.matchMedia('(prefers-reduced-motion)').matches) {
    vid.removeAttribute("autoplay");
    vid.pause();
    pauseButton.innerHTML = "Paused";
}

function vidFade() {
  vid.classList.add("stopfade");
}

vid.addEventListener('ended', function()
{
// only functional if "loop" is removed 
vid.pause();
// to capture IE10
vidFade();
}); 


pauseButton.addEventListener("click", function() {
  vid.classList.toggle("stopfade");
  if (vid.paused) {
    vid.play();
    document.getElementById("play-hide").style.display = "none";
    pauseButton.innerHTML =   "<li class='fa'><img src='static/assets/images/pause1.png' height='65px'></li>";
     document.getElementById("bgvid").style.display = "block";

  } else {
    vid.pause();
    pauseButton.innerHTML =  "<li class='fa'><img src='static/assets/images/play1.png' height='65px'></li>";
    document.getElementById("play-hide").style.display = "block";
    
  }
})


// counter section js
  $.fn.jQuerySimpleCounter = function( options ) {
      var settings = $.extend({
          start:  0,
          end:    100,
          easing: 'swing',
          duration: 400,
          complete: ''
      }, options );

      var thisElement = $(this);
      $({count: settings.start}).animate({count: settings.end}, {
      duration: settings.duration,
      easing: settings.easing,
      step: function() {
        var mathCount = Math.ceil(this.count);
        thisElement.text(mathCount);
      },
      complete: settings.complete
    });
  };
$('#number1').jQuerySimpleCounter({end: 1200,duration: 4000});
$('#number2').jQuerySimpleCounter({end: 347,duration: 4000});
$('#number3').jQuerySimpleCounter({end: 75,duration: 4000});
$('#number4').jQuerySimpleCounter({end: 246,duration: 4000});
    /* AUTHOR LINK */
     $('.about-me-img').hover(function(){
            $('.authorWindowWrapper').stop().fadeIn('fast').find('p').addClass('trans');
        }, function(){
            $('.authorWindowWrapper').stop().fadeOut('fast').find('p').removeClass('trans');
        });
  
</script>
<script type="text/javascript">
  $.fn.responsiveTabs = function() {

  return this.each(function() {
    var el = $(this),
        tabs = el.find('dt'),
        content = el.find('dd'),
        placeholder = $('<div class="responsive-tabs-placeholder"></div>').insertAfter(el);

    tabs.on('click', function() {
      var tab = $(this);

      tabs.not(tab).removeClass('active');
      tab.addClass('active');

      placeholder.html( tab.next().html() );
    });

    tabs.filter(':first').trigger('click');
  });

}


$('.responsive-tabs').responsiveTabs();
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#news-slider").owlCarousel({
        items : 5,
        itemsDesktop:[1199,3],
        itemsDesktopSmall:[980,2],
        itemsMobile : [600,1],
        navigation:true,
        navigationText:["",""],
        pagination:true,
        autoPlay:true
    });
});
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#news-slider12").owlCarousel({
        items : 4,
        itemsDesktop:[1199,2],
        itemsDesktopSmall:[980,2],
        itemsTablet:[650,1],
        pagination:false,
        navigation:true,
        autoPlay:true,
        navigationText:["",""]
    });
});
  $(document).ready(function() {
    $("#news-slider13").owlCarousel({
        items : 5,
        itemsDesktop:[1199,2],
        itemsDesktopSmall:[980,2],
        itemsTablet:[650,1],
        pagination:false,
        navigation:true,
        autoPlay:true,
        navigationText:["",""]
    });
});
</script>